<app-header></app-header>

<div class="navigatorContainer">
  <div class="backIcon">
    <img src="./assets/images/Vector 108.svg" alt="">
  </div>
  <div routerLink="" class="navigationBtn">
    Inicio
  </div>
  <div class="navigationBtn">
    /
  </div>
  <div class="navigationBtn">
    <strong>Registro</strong>
  </div>
</div>

<div class="registerWrapper">

  <form  [formGroup]="registerForm" class="formWrapper">
    <label for="name">
      <input id="departamentos" (click)="openDialog()" class="rounded-corners" type="text"
        placeholder="Departamento/s" formControlName="departamentos" readonly>
      <span class="floating-label" *ngIf="this._dataSharingService.selectedDepartments === ''">Departamento/s</span>
      <div class="errorMsgContainer">
        <div class="errorMsg" *ngIf="departamentos && departamentos.invalid && departamentos.touched">
          <span>Este campo no puede quedar vacío </span>
          <img src="./assets/images/error.svg" alt="">
        </div>
      </div>

    </label>


    <label for="Nombre">
      <input class="rounded-corners" type="text" id="Nombre" placeholder="Name" formControlName="regNombre"
        [class.invalid-input]="regNombre && regNombre.invalid && regNombre.touched">
      <span class="floating-label">Nombre y Apellidos*</span>
      <div class="errorMsgContainer">
        <div class="errorMsg" *ngIf="regNombre && regNombre.invalid && regNombre.touched">
          <span>Este campo no puede quedar vacío </span>
          <img src="./assets/images/error.svg" alt="">
        </div>
      </div>
    </label>


    <label for="mail">
      <input class="rounded-corners" type="text" id="mail" placeholder="mail" formControlName="regEmail"
        [class.invalid-input]="regEmail && regEmail.invalid && regEmail.touched">
      <span class="floating-label">Mail</span>


      <div class="errorMsgContainer">
        <div class="errorMsg" *ngIf="regEmail && regEmail.invalid && regEmail.touched">
          <span>Su correo electrónico ingresado no es válido </span>
          <img src="./assets/images/error.svg" alt="">
        </div>
      </div>
    </label>


    <label class="icon-parent" for="Contraseña">
      <input class="rounded-corners" [type]="hidePassword ? 'password' : 'text'" id="Contrasena"
        placeholder="Contrasena" formControlName="regContrasena" (ngModelChange)="passwordValueChanged($event)" [class.invalid-input]="regContrasena && regContrasena.invalid && regContrasena.touched">
      <span class="floating-label">Contraseña</span>
      <mat-icon class="mat-icon-eye" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-icon>
      <div class="errorMsgContainer">
        <div class="errorMsg" *ngIf="regContrasena && regContrasena.invalid && regContrasena.touched">
          <span>Ha ingresado una contraseña inválida </span>
          <img src="./assets/images/error.svg" alt="">
        </div>
      </div>
     
    </label>


    <div class="validation-box">
      <p [style.color]="doesIncludeUpperCase ? '#53D487' : '#9D9FA7'">· MAYÚSCULA</p>
      <p [style.color]="doesIncludeLowerCase ? '#53D487' : '#9D9FA7'">· minúscula</p>
      <p [style.color]="passwordValue.length >= 8 ? '#53D487' : '#9D9FA7'">· 8 CARÁCTERES</p>
      <p [style.color]=" doesIncludeNumber ? '#53D487' : '#9D9FA7'">· NÚMEROS</p>
      <p [style.color]=" doesIncludeSpecialChar ? '#53D487' : '#9D9FA7'">· CARÁCTER ESPECIAL</p>

    </div>

    <div class="politicas-container" >
    <label  >
      <input  type="radio" name="politicas" value="HTML" formControlName="politicas" />Si, he leído y acepto las <a href="">políticas de
        privacidad</a>
    </label>
  </div>

  </form>
  <button (click)="submitFormValue()" form="registerForm" class="continuar-btn" [style.opacity]="!registerForm.valid ? '50%' : '100%'" class="btn" [disabled]="!registerForm.valid">CONTINUAR</button>
</div>


