.edit-wrapper{
    width: 437px;
    height: 182px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.edit-comment-input{
    border-radius: 32px;
    width: 329px;
    height: 45px;
    background-color: #e8e8e8;
    border: 1px solid #d5cfcf;
    text-indent: 10px;
    outline: none;
}

.input-box{
    margin-bottom: 15px;
}


    .button-box{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    .button-box button{
        width: 90px;
    height: 32px;
   
    }

    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 32px 
    }