<app-header [displayLinks]="false"></app-header>

<app-breadcrumbs-navigation [currentPage]="'Nueva contraseña'"></app-breadcrumbs-navigation>

<div class="nueva-main-wrapper">
<div class="nueva-form-wrapper">

    <form class="nueva-contr-form" [formGroup]="nuevaContracenaForm">

  <app-contrasena-input-w-eye [inputId]="'1'" [label]="'Contraseña actual'" [control]="nuevaContracenaForm.controls.contracenaActual" [placeholder]="'Contraseña actual'"></app-contrasena-input-w-eye>
  <app-contrasena-input-w-eye [inputId]="'2'" [label]="'Contraseña nueva'" [control]="nuevaContracenaForm.controls.contracenaNueva" [placeholder]="'Contraseña nueva'"></app-contrasena-input-w-eye>
  <app-contrasena-input-w-eye [inputId]="'3'" [label]="'Repetir contraseña nueva'" [control]="nuevaContracenaForm.controls.contracenaRepetir" [placeholder]="'Repetir contraseña nueva'"></app-contrasena-input-w-eye>


</form>

  <button class="btn" (click)="onGuardarClicked()" [class.disabled-btn] = "!nuevaContracenaForm.valid"  [disabled]="!nuevaContracenaForm.valid">GUARDAR CONTRASEÑA NUEVA</button>
</div>

</div>

