.nueva-contr-form {
    display: flex;
    flex-direction: column;
}

.nueva-main-wrapper{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.nueva-form-wrapper{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    
}
