
<div class="inicioWrapper">
<img id="logo" src="./assets/images/icon.svg" alt="">

<form class="inicio-form" [formGroup]="inicioForm" >

  <app-input-w-floating-label [control]="inicioForm.controls.loginEmail" [labelName]="'Mail'" ></app-input-w-floating-label>
  <app-contrasena-input-w-eye [inputId]="'1'" [label]="'Contraseña'" [control]="inicioForm.controls.loginPassword" [placeholder]="'Contraseña'"></app-contrasena-input-w-eye>
<div class="olvidado">
    <p routerLink="/olvidado" >¿Has olvidado tu contraseña?</p>
  </div>
</form>

<app-simple-fusia-button (click)="onLoginPressed()" [buttonText]="'INICIAR SESIÓN'"  [class.disabled-btn] = "!inicioForm.valid" ></app-simple-fusia-button>
<app-button-transparent (click)="navigateToRegistro()" [buttonText]="'REGISTRO'"></app-button-transparent>


<br>

<button routerLink="/nueva" class="btn btnTransparent"  >nueva</button>
<button routerLink="/noticias" class="btn btnTransparent" >noticias</button>




