 li {
    list-style: none;
    height: 40px;
    display: flex;
    align-items: center;

}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.mat-dialog-title {
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
    border-radius: 8px;
    margin-top: 25px;
    position: relative;
    height: 56.11px;
    align-items: center;
}


.highlighted {
    background-color: #FF005F;
    border-radius: 10px;
    color: white;
  }

  .btnContainer{
    display: flex;
    justify-content: end;
    margin: 0 10px 20px 0;
  }

  .wrapper {
    margin: 5px;
  }

  .dialog-btn{
    width: 142px;
    height: 40px;
  }

  /* .mat-mdc-dialog-container .mdc-dialog__content{
    width: 200px;
  } */

  .mdc-dialog__surface {
    border-radius: 32px !important;
    width: 399px !important;  
  }

ul input{
  margin-left: 18px;
}

ul label {
  margin: 10px;
}

.mdc-dialog .mdc-dialog__content {
  padding: 20px 10px 20px 10px;
  
}

.dialog-title {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}



.mat-mdc-dialog-container .mdc-dialog__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding: 0px;
}

#closeX{
  position: absolute;
  right: 25px;
  top: 20px;
}

.checkbox {
  outline: 2px solid white;
    accent-color: #FF005F;
}