.olvidad-dialog-container{
    height: 138px;
    width: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 32px !important
}

.olvidad-dialog-container p {
  padding: 17px 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
}

.text-container{
    width: 96%;
}

.dialog-btn{
    width: 142px;
    height: 40px;

    margin-top: 14px;
    position: absolute;
    left: 151px;
    bottom: 14px;
  }

  .cancelar{
    background-color: transparent;
    color: black;
    font-weight: bold;
  }


  .olvidad-dialog-container-cancelar{
    height: 148px;
    width: 262px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }

  .btnContainer-cancelar{
    display: flex;
    justify-content: center;
  }

  .btnContainer-cancelar button{
   margin-left: 0;
   width: 130px;
   font-size: 16px;
  }

  .message-title{
    font-size: 20px;
    font-weight: 400;
  }

  .text-container-cancelar{
   font-size: 12px;
}


@media only screen and (max-width: 360px) {
  .olvidad-dialog-container{
    width: 300px;
  }

  .dialog-btn{
    left: 124px;
    bottom: 14px;
  }
  
}