.noticias-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    justify-items: center;
  }

.card {
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 358px;
    height: 328px;
    margin: 20px;
    display: inline-block;
    /* margin: -5px; */

   
      flex: 0 0 auto;
      margin: 10px;
    
  
  }
  
  .card-image {
    width: 100%;
    height: 176px;
  }
  
  .card-content {
    padding: 10px;
  }
  .card-content p {
    margin-top: 29px;
 
    }


  .location {
    float: left;
    font-family: 'Roboto';
font-style: normal;
    font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #12141C;

  }
  
  .date {
    float: right;
    font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #12141C;
  }
  
  .description {
    clear: both;
    margin-top: 10px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  
  .category {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.12);;
    border-radius: 50px;
    padding: 7px 15px;
    margin-left: 20px;
   
  }
  
  .actions {
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 16px;
  }

  .actions img {
    margin-right: 8px;
  }

  .clearfix {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: -6px;
  }

  .favorite{
    display: none;
  }

  .not-favorite{
    display: none;
  }

  .image-box{
    position: relative;
  }

  .image-box h2{
        position: absolute;
    top: 119px;
    color: white;

    left: 23px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
  }
