
  
    <div class="card" >
        <!-- <div class="image-box">
      <img src={{Noticia.image}} alt="News Image" class="card-image" (click)="noticiaClicked(Noticia)">
      <h2>{{Noticia.title}}</h2>
    </div> -->

    <div class="image-box">
      <img
        [src]="Noticia.image"
        alt="News Image"
        class="card-image"
        (click)="noticiaClicked(Noticia)"
        (load)="onImageLoad()"
        [class.loaded]="imageLoaded"
      />
      <h2>{{ Noticia.title }}</h2>
      <img
        class="placeholder-image"
        src="./assets/images/thumbnail-360x240.png"
        alt="Placeholder Image"
        [class.loaded]="imageLoaded"
        (click)="noticiaClicked(Noticia)"
      />
    </div>

      <div class="card-content">
        <div class="location">{{Noticia.title}}</div>
        <div class="date">{{Noticia.creation_date | date :'dd-MM-yyyy'}}</div>
        <div class="description" (click)="noticiaClicked(Noticia)">
          <p>{{Noticia.subtitle}}</p>
        </div>
 
      </div>
      <div class="clearfix">
        <div class="category">{{Noticia.category.name}}</div>
        <div class="actions">
        
            <img [class.favorite]="!isFavorite"  src="./assets/images/heartFilled.svg"  (click)="handleRemoveFavoriteClick(Noticia.id)">
            <img [class.not-favorite]="isFavorite"  src="./assets/images/heart.svg"  (click)="handleAddFavoriteClick(Noticia.id)">
            <img src="./assets/images/share.svg" >
       
        </div>
      </div>
    </div>
 
