<app-header  [displayLinks]="true"></app-header>


<div class="noticia-wrapper" *ngIf="noticia">
<div class="noticia-container">
    <div class="title">
    <p>{{noticia.title}}</p>
</div>
<div class="image-container"  >

        <img src={{noticia.image}} alt="">
    </div>
   <div class="location-date">
    <span class="location-name" >{{noticia.title}}</span>
    <div class="date-fav">
    <span class="date-article">{{noticia.creation_date | date :'dd-MM-yyyy'}}</span>
    <img [class.not-favorite]="!noticia.is_favorite"  src="./assets/images/heartFilled.svg" alt="" >
</div>
   </div>
  <div class="article-description">
    <p>{{noticia.subtitle}}</p>
  </div>
  <div class="article-body">
    <p>{{noticia.short_description}}</p>
  </div>


  <ng-container *ngFor="let comment of noticia.comments">
  <app-comment [comment]="comment"></app-comment>
</ng-container>

<app-escribe-comment-input [noticiaId]="noticia.id"></app-escribe-comment-input>

</div>



</div>