.noticia-container{
    width: 660px;
    margin: 10px;
}

.noticia-wrapper{
    display: flex;
    height: 100%;
    justify-content: center;
}

.image-container {
 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
  }

.image-container img{
    width: 100%;
    margin-bottom: 15px;
}

.location-date{
    display: flex;
    justify-content: space-between;
}

.date-article{
    font-weight: 400;
font-size: 14px;
line-height: 20px;
}

.location-name{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
font-size: 20px;
line-height: 23px;
}

.article-description{
    color: #5E6270;
    font-weight: 400;
font-size: 14px;
line-height: 20px;
    
}

.article-body{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.date-fav{
    display: flex;
    align-items: center;
}

.date-fav img{
    margin-left: 20px;
    height: 19.8px;
    width: 21.67px;
}

.not-favorite{
    display: none;
}

