
<div class="wrapper">
  <div class="mat-dialog-title">
    <span class="dialog-title" >Departamentos </span>
    <img id="closeX" (click)="onXClicked()" src="./assets/images/close_24px.svg" alt="">
  </div>
  <form [formGroup]="departamentosDialog" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="mat-dialog-content">
      <!-- <p *ngIf="!departments">Loading.......</p> -->
      <div *ngIf="!departments" class="loader-container">
      <div  class="loader"></div>
    </div>
      <ul>
        <li *ngFor="let departamento of departments; let i = index" [class.highlighted]="checkedOptions[i]">
          <input type="checkbox" class="checkbox" [id]="'option' + (i+1)" name="options" [value]="departamento.id" [(ngModel)]="checkedOptions[i]" [formControlName]="departamento.name">
          <label [for]="'option' + (i+1)">{{ departamento.name }}</label>
        </li>
      </ul>
    </div>
    <div class="btnContainer">
      <button class="btn dialog-btn">Aceptar</button>
    </div>
  </form>
</div>


<!-- <div class="wrapper">
  <div class="mat-dialog-title">
    <span class="dialog-title">Departamentos</span>
    <img id="closeX" (click)="onXClicked()" src="./assets/images/close_24px.svg" alt="">
  </div>
  <form (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="mat-dialog-content">
      <ul>
        <li *ngFor="let departamento of departments; let i = index" [class.highlighted]="checkedOptions[i]">
          <input type="checkbox" class="checkbox" [id]="'option' + (i+1)" name="options" [value]="departamento.name"
            [(ngModel)]="checkedOptions[i]">
          <label [for]="'option' + (i+1)">{{ departamento.name }}</label>
        </li>
      </ul>
    </div>
    <div class="btnContainer">
      <button type="submit" class="btn dialog-btn">Aceptar</button>
    </div>
  </form>
</div> -->
