 <app-header  [displayLinks]="true"></app-header>
 <app-searchbar (inputValue)="handleInputValue($event)"  (filtrarPorArrayEmiter)="handleTagValues($event)"></app-searchbar>

 <div class="noticias-wrapper">
  <div class="card" *ngFor="let noticia of noticias | filter: filterTagsSelected | search: searchTerm">
    <div (click)="noticiaClicked(noticia)">
      <img src={{noticia.imgUrl}} alt="News Image" class="card-image">
      <div class="card-content">
        <div class="location">{{noticia.locationName}}</div>
        <div class="date">{{noticia.dateOfArticle}}</div>
        <div class="description">
          <p>{{noticia.articleDescription}}</p>
        </div>
        <div class="clearfix">
          <div class="category">{{noticia.category}}</div>
          <div class="actions">
            <span style="pointer-events: none;">
              <img src="./assets/images/heart.svg" alt="">
              <img src="./assets/images/share.svg" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

