<app-header  [displayLinks]="true"></app-header>


<div class="perfil-main-wrapper">
    <div class="perfil-button-wrapper">
<p class="user-label" for="user">{{userName}}</p>
        <input type="text" id="user" placeholder={{userEmail}} readonly>

        <app-prefil-button [buttonName]="'Edit perfil'" [navigateTo]="'/editar-perfil'"></app-prefil-button>
        <app-prefil-button [buttonName]="'FAQ'" [navigateTo]="'/FAQ'"></app-prefil-button>
        <app-prefil-button [buttonName]="'Términos y condiciones'" [navigateTo]="'/terminos-y-condiciones'"></app-prefil-button>
        <app-prefil-button [buttonName]="'Políticas de privacidad'" [navigateTo]="'/politicas-de-privacidad'"></app-prefil-button>

        <button class="btn">CERRAR SESIÓN</button>
        <img class="cerrar-img" src="./assets/images/cerrar.svg" alt="">
    </div>
</div>
