
<label class="icon-parent" [for]="inputId">
  <input [formControl]="control"  class="rounded-corners" [type]="hidePassword ? 'password' : 'text'" [id]="inputId" [placeholder]="placeholder"
  [class.invalid-input]="control && control.invalid && control.touched">
    
  <span class="floating-label">{{label}}</span>
  <mat-icon class="mat-icon-eye" mat-icon-button matSuffix (click)="togglePasswordVisibility()"
    [attr.aria-label]="hidePassword ? 'Hide password' : 'Show password'" [attr.aria-pressed]="hidePassword">
    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-icon>
  <div class="errorMsgContainer">
    <div class="errorMsg" *ngIf="control && control.invalid && control.touched">
      <span>{{validationErrorMsg}} </span>
      <img src="./assets/images/error.svg" alt="">
    </div>
  </div>
</label>