.departamentos-box{
    display: flex;
    
}
/* .departamentos-box img{

    position: absolute;
    top: 18px;
    right: 15px;
} */

#arrow-forwad {
    position: absolute;
    top: 18px;
    right: 15px;
}


label{
    margin: 15px !important;
    position: relative;
}

.rounded-corners{
    color: #FF005F;
}

.centered-input-text{
    padding: 0px 
}