

<div class="departamentos-box">
    
<label [for]="inputId">
    <img id="arrow-forwad" src="./assets/images/arrow_forward_ios_24px.svg" alt="">
    <input [formControl]="control" [id]="inputId"  class="rounded-corners centered-input-text" type="text" placeholder="Departamentos"
    [class.invalid-input]="control && control.invalid && control.touched" readonly>
    <!-- <span class="floating-label" *ngIf="control !== ''">Departamento/s</span> -->
    <div class="errorMsgContainer">
      <div class="errorMsg" *ngIf="control && control.invalid && control.touched" >
        <span>Este campo no puede quedar vacío </span>
        <img src="./assets/images/error.svg" alt="">
      </div>
    </div>

  </label>
</div>
