
.escribe-box{
    background-color: #ffffff;
    height: 90px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.escribe-box input{
    border-radius: 44px;
    width: 98%;
    height: 46px;
    border: none;
    background-color: rgba(51, 51, 51, 0.06) ;
    margin-top: 15px;
    text-indent: 14px;

}


.escribe-box {
    position: relative;
    text-indent: 10px;
    display: flex;
    justify-content: center;

  }
  
  .escribe-box label {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease-out;
    transform-origin: top left;
    transform: translate(13%, 12px);
    opacity: 0.5;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  
  .escribe-box input[type="text"]:not(:placeholder-shown) + label,
  .escribe-box label.active {
    opacity: 0;
    border: none;
  }
  

  .escribe-box input::placeholder{
    color: black;
    font-size: 14px;
    transform: translateY(6px);
  }

  .escribe-box .active-input::placeholder{
    color: black;
    transform: translateY(0px);
    transition: 0.2s ease-out;

  }

 

.sent-message-button{
    height: 18px;
    position: absolute;
    bottom: 42px;
    right: 13px;
}

.send-disabled{
    display: none;
}

.enabled{
    display:none
}

.char-count-box{
    position: relative;
}

.character-count{
    position: absolute;
    right: 9px;
    bottom: -15px;
}

.escribe-box .active-input {
   outline: none;
}