<app-header></app-header>


<app-breadcrumbs-navigation [currentPage]="'Contraseña olvidada'"></app-breadcrumbs-navigation>

<div class="wrapper-template">
<div class="olvidado-wrapper">
    <form class="olvidad-form" [formGroup]="olvidadForm" >

<app-input-w-floating-label [control]="olvidadForm.controls.olvidEmail" [labelName]="'Mail*'" [validationErrorMsg]="'Este campo no puede quedar vacío'"></app-input-w-floating-label>

</form>

<div class="olvidado-msg">
    <p>Introduce tu mail y recibirás un correo para reestablecer tu contraseña.</p>
</div>

<app-simple-fusia-button (click)="onContinuarOlvidadClicked()" [buttonText]="'CONTINUAR'"  [class.disabled-btn] = "!olvidadForm.valid" ></app-simple-fusia-button>
</div>





