.wrapper-template{
        display:flex;
        flex-direction: column;
        align-items: center;
        height: calc(100% - 179px);
        justify-content: center;
}

.mat-mdc-dialog-container .mdc-dialog__surface{
    border-radius: 32px !important
}

html, body { 
    height: 100%; 
background-color: #F9F9F9
;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F9F9F9; }


/* INPUT STYLE */


label{
    margin: 10px 0 10px 0;
    position:relative;
}

input.rounded-corners {

    height: 56px;
    padding:10px 0px;
    width: 300px;
    border:none;
    outline:none;
    border-radius: 25px;
    text-indent: 20px;  

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

box-sizing: border-box;
padding-top: 27px;

   
}

input.rounded-corners::placeholder{
    opacity:0;
}
.floating-label{
    position:absolute;
    top:0;
    left:9px;
    transform:translateY(15px);
    font-size:16px;
    transition-duration:600ms;
    margin-left: 10px;
    color: #9D9FA7;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}


label:focus-within > .floating-label,
input.rounded-corners:not(:placeholder-shown) + span{
    color:#ff4081;
    transform:translateY(10px);
    margin-left: 10px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
}

/* INPUT STYLE */


.btn {
    height: 48px;
    width:300px;
    background-color: #FF005F;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    color: #F9F9F9;
    margin-top: 15px;
   
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px 2px rgba(255, 0, 95, 0.5);
  }

.mat-icon-eye{
    position:absolute;
    top:0;
    left:0;
    transform:translate(260px, 15px);
}

.icon-parent{
    position: relative;

}




.invalid-input {
    background-color: rgba(219, 68, 55, 0.06);
    border: 1px solid #F07E3D !important
  }


  .errorMsg {
    width: 95%;
        transform: translate(-40px, 0px);
        color:  #F07E3D;
        font-size: 12px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }


  .disabled-btn {
    opacity: 50%;
    cursor: not-allowed;
    pointer-events:none;

  }

  .errorMsgContainer {
    width: 100%;
    display: flex;
    padding-left: 50px;
    
}
  
  
  
  
@media only screen and (min-width: 480px) {

    input.rounded-corners{
        width: 357px;
    }
    .btn{
        width: 357px;
    }
    .validation-box {
        width: 357px;
    } 
    .mat-icon-eye{
        transform:translate(310px, 15px);
    }
    
}
  

