<app-header></app-header>

<app-breadcrumbs-navigation [currentPage]="'Registro'"></app-breadcrumbs-navigation>

<div class="wrapper-template">

  <form  [formGroup]="registerForm" class="formWrapper">

    <white-button-w-arrow-forward (click)="openDepartamentosDialog()" [inputId]="'11'" [control]="registerForm.controls.departamentos" [labelName]="'Departamento/s'" [validationErrorMsg]="'Este campo no puede quedar vacío'"></white-button-w-arrow-forward>

    <app-input-w-floating-label [inputId]="'nombre'" [control]="registerForm.controls.regNombre" [labelName]="'Nombre y Apellidos'" [validationErrorMsg]="'Este campo no puede quedar vacío'" ></app-input-w-floating-label>
    <app-input-w-floating-label [inputId]="'2'" [control]="registerForm.controls.regEmail" [labelName]="'Mail'" [validationErrorMsg]="'Este campo no puede quedar vacío'" ></app-input-w-floating-label>
    <app-contrasena-input-w-eye (input)="passwordValueChanged()" [inputId]="'1'" [label]="'Contraseña'" [control]="registerForm.controls.regContrasena" [placeholder]="'Contraseña'" [validationErrorMsg]="'Este campo no puede quedar vacío'"></app-contrasena-input-w-eye>


    <div class="validation-box">
      <p [style.color]="doesIncludeUpperCase ? '#53D487' : '#9D9FA7'">· MAYÚSCULA</p>
      <p [style.color]="doesIncludeLowerCase ? '#53D487' : '#9D9FA7'">· minúscula</p>
      <p [style.color]="passwordValue.length >= 8 ? '#53D487' : '#9D9FA7'">· 8 CARÁCTERES</p>
      <p [style.color]=" doesIncludeNumber ? '#53D487' : '#9D9FA7'">· NÚMEROS</p>
      <p [style.color]=" doesIncludeSpecialChar ? '#53D487' : '#9D9FA7'">· CARÁCTER ESPECIAL</p>
    </div>

    <div class="politicas-container" >
    <label  >
      <input id="radio-input" type="radio" name="politicas" value="HTML" formControlName="politicas" />Si, he leído y acepto las&nbsp;<a href="">políticas de privacidad</a>

    </label>
  </div>


  </form>
  <button (click)="submitFormValue()" form="registerForm" class="continuar-btn" [class.disabled-btn] = "!registerForm.valid" class="btn" [disabled]="!registerForm.valid">CONTINUAR</button>
</div>





