
<div  class="comment-container">
    <div class="comment-top">
        <img src={{comment.userImg}} alt="">
        <div class="name-when">
            <div class="name-department">
                <span>{{comment.userName}}</span>
                <span class="departament">{{comment.departments}}</span>
            </div>
            <div>
                <!-- <span>{{comment.datePosted}}</span> -->
                <span class="posted-at">{{calculateTime(comment.datePosted)}}</span>
                
            
        </div>
       
        </div>
        
    </div>
    <p>{{comment.commentBody}}</p>
   
   
  </div>