
.comment-container {
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
    padding: 10px 0 10px 0;
    word-wrap: break-word;

}
.name-when{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.comment-top {
    display: flex;
    align-items: center;
}
.name-department{
    display: flex;
    flex-direction: column;
}
.comment-top img {
    height: fit-content;
}

.departament{
    color: rgba(0, 0, 0, 0.6)
}

.posted-at{
    color: #5E6270;
}
.article-description{
    color: #5E6270;
    font-weight: 400;
font-size: 14px;
line-height: 20px;
    
}

.article-body{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.date-fav{
    display: flex;
    align-items: center;
}

.date-fav img{
    margin-left: 20px;
    height: 19.8px;
    width: 21.67px;
}

.not-favorite{
    display: none;
}

.delete-comment-btn{
    width: 68px;
    height: 28px;
}