

  <div *ngIf="comment" class="comment-container">
    <div class="comment-top">
      <img [src]="comment.userImg || userImagePlaceholder" alt="user-image">
      
      <div class="name-when">
        <div class="name-department">
          <span *ngIf="comment.user">{{ comment.user.fullname }}</span>
          <ng-container *ngIf="comment.user">
            <span *ngIf="comment.user.departments && comment.user.departments.length > 0" class="departament">
              {{ getDepartmentNames(comment.user.departments) }}
            </span>
          </ng-container>
        </div>
        <div>
          <!-- <span class="posted-at">{{ calculateTime(comment.datePosted) }}</span> -->
          <button class="btn delete-comment-btn"  *ngIf="comment.user.id == getLoggedInUserId()" (click)="editComment()">Edit</button>
        </div>
      </div>
    </div>
    <p>{{ comment.text }}</p>
  </div>
  